@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

body {
    font-family: 'Baloo Tamma 2';
    padding: 0;
    text-align: center;
    background-image: url('./images/background.jpg');
    width: 100%;
    height: 100%;
}

span {
    background-color: lightgray;
    padding: 3px 10px;
    font-size: 0.8em;
}

#start-page {
    padding: 30px 0px;
}

#start-page img {
    width: 700px;
}

button {
    font-size: 1.1em;
}

#start-button {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: bolder;
    background-color: lightgray;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
}

#play-again-button {
    margin: 0px 20px 20px 20px;
    font-size: 18px;
    font-weight: bolder;
    background-color: lightgray;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
}

#game-board {
    float: center;
    padding: 0px;
}

#intro{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

#intro img {
    width: 30px;
}